:root{
    --main-bg-color: rgb(41,41,41);
    --main-font-color: rgb(180, 190, 100);
    --secondary-font-color: rgb(99, 99, 99);
    --main-accent-color: rgb(190, 133, 100);
}
body{
    margin: 0 auto;
    padding: 45px;

    background-color: var(--main-bg-color);
    color: var(--main-font-color);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    overflow: hidden;
}
input{
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    border: 1px dotted var(--main-font-color);
    padding: 5px;
}
.input-wrapper{
    padding: 1rem;
    margin-top: 3rem;

    width: 350px;

    width: 350px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    border: 1px var(--main-font-color) dotted;
    border-radius: 15px;
}
button{
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-font-color);
    color: var(--main-font-color); 
    border-radius: 15px;
    height: 25px;
    width: 100px;
}
button:hover{
    background-color: var(--main-font-color);
    border: 1px solid var(--main-bg-color);
    color: var(--main-bg-color); 
}
.todos-container{
    color: var(--main-font-color); 

    padding: 1rem;
    margin-top: 3rem;

    width: 350px;
    height: 500px;

    word-break: break-all;
    width: 350px;
    height: 500px;

    word-break: break-all;

    border: 1px var(--main-font-color) dotted;
    border-radius: 15px;

    overflow-y: hidden;
    scroll-snap-type:proximity;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.todo-item-container{
    display: flex;
    align-items: center;

    border: 1px dotted var(--main-font-color);
    border-radius: 15px;

    padding-inline-start: 1rem;

    border: 1px dotted var(--main-font-color);
    border-radius: 15px;

    padding-inline-start: 1rem;
}
.todo-item-checkbox{
    translate: 0px 1.5px;
    width: 18px;
    height: 18px;
    transform: translateY(-1px);
    margin: 0;
}
.delete-todo-button{
    width: 20px;
    height: 20px;

    margin-left: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--main-accent-color);
    border: 1px solid var(--main-bg-color);
    color: var(--main-bg-color);
    
    margin-right: 5px;
}
.delete-todo-button i{
    translate: -0.5px 0.5px;
    translate: -0.5px 0.5px;
}
.marked-todo{
    text-decoration-line: line-through;
    color: var(--secondary-font-color);
}
.language-switcher-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding: 1rem;

    position: absolute;
    right: 0;
    top: 0;
}
.language-switcher-container:hover{
    translate: 0;
}
.language-switcher-container button{
    width: fit-content;
}

@media all and (max-width: 700px) {
    .todos-container{
        width: 70vw;
        height: 300px;
        padding: 1rem;
    }
    .input-wrapper{
        width: 70vw;
        height: fit-content;
        flex-direction: column;

        text-align: center;
    }
    button{
        height: 60px;
    }
    button:nth-child(2){
        display: none;
    }
}
